:root {
  --mainColor: #f39c12;
  --subColor: #4c4c4c;
  --dark: #767c77;
}

.main {
  width: 90%;
  opacity: 0;
  display: none;
  transition: opacity 1s ease-in;
}

.loader {
  font-family: 'ZCOOL KuaiLe', cursive;
  font-size: 40px;
  color: var(--mainColor);
}

.loader::after {
  content: '\2026';
  display: inline-block;
  overflow: hidden;
  vertical-align: bottom;
  animation: dots steps(4, end) 2s infinite;
  width: 0px;
}

@keyframes dots {
  to {
    width: 1.25em;
  }
}